@import "tailwindcss";

@theme {
  --color-primary: #1179d4;
  --color-primary-hover: #0e64b0;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101a22;
  
  --font-sans: var(--font-public-sans);
  --font-display: var(--font-public-sans);

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

:root {
  --background: #f6f7f8;
  --foreground: #101a22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101a22;
    --foreground: #f6f7f8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

